*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contenedor{
   width: 100%;
   height: 100vh;
}
.imagen{
   object-fit: cover;
    width: 100%;
    height: 99vh;
}
.form{
    position: absolute;
    display: flex;
    border: solid rgb(41, 80, 164) 2px;
    top: 7%;
    left: 25%;
    width: 50%;
    height: 80vh;
    justify-content: center;
    
}
.nombre{
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    color: beige;
      bottom: 70%;
      left: 5%;
}
input[placeholder='Email'] {
 color: aliceblue;
}
.input{
    position: absolute;
    width: 70%;
    height: 7vh;
    border-radius: 10%;
    background-color: transparent;
    top: 35%;
    
}
.dos{
    bottom: 40%;
}
.tres{
    position: absolute;
    width: 70%;
    height: 7vh;
    border-radius: 10%;
    background-color: transparent;
    bottom: 25%;
    color:aliceblue;
}
.tres::placeholder{
    color: #fff;
}
input[placeholder='Contraseña'] {
    color: aliceblue;
   }
   .bienvenido{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    bottom: 82%;
    left: 44%;
    color: #fff;
   }
   .sino{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    
    background-color: transparent;
    color: aliceblue;
    height: 3vh;
    bottom: 19%;
    left: 66%;
    font-size: 12px;
   }
   .enviar{
    position: absolute;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
    width: 17%;
    height: 5vh;
    border-radius: 22px;
    color: #fff;
    bottom: 10%;
   }
   .enviar:hover{
    background-color: black;
    opacity: 0.5;
    cursor: pointer;
   }
   .registrate{
    position: absolute;
    display: none;
    opacity: 0.6;
    background-color: black;
    bottom: 9%;
    display: flex;
    border-radius: 10px;
    height: 71vh;
    width: 92%;
   }
   
   .in{
    position: absolute;
    background-color: transparent;
      height: 6vh;
      width: 76%;
     border:none;
     border-bottom:1px solid #fff;
   }
   
   .name{
    position: absolute;
    font-size: 20px;
    width: 22%;
    top: 7.5%;
    font-weight: 500;
    left: 12%;
    color: #fff;
   }
.a{
    top: 15.5%;
    left: 12%;
    
    opacity: 0.8;
   }
   .b{
    top: 37%;
    left: 12%;
   }
   
   .apellido{
    position: absolute;
    font-size: 20px;
    top: 29%;
    left: 12%;
    color: #fff;
    font-weight: 500;
   }
   .emas{
   position: absolute;
    font-weight: 500;
   font-size: 20px;
   color: #fff;
   bottom: 42%;
   left: 12%;
   }
   .c{
    bottom: 32%;
    left: 12%;
   }
   .contr{
    position: absolute;
    bottom: 39%;
    font-weight: 700;

    color: #fff;
    left: 5%;
   font-size: 20px;
   }
   .d{
    bottom:10%;
    left: 12%;
    
   }
   input{
    border: 0;
    outline: 0;
   }
